@import "./styles/typography";
@import "./styles/scales";
@import "./styles/colors";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body{
    @include primary-header-font; 
    // background-color: rgb(255, 241, 241);
    .App{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
   
    .chart-div{
        margin: 1%;
        width: 70%;
        height: 55%;
    }
    .header-div{
        width: 50%;
        padding-left: 1%;
        margin: 0px;
    }
        .auth-forms-container{
            width: 40%;
            height: 10%;
            float: right;

            .auth-header{
                padding-top: 1%;
                display: flex;
                flex-wrap: wrap;
                    h4{
                        padding-right: 15rem;
                        margin-top: 2rem;
                        margin-bottom: 0.5rem;
                        float:  left;
                    }
             }
            .log-in-forms{   
                display: flex;
                
                }
            .auth-forms{
                display: flex;
                flex-wrap: wrap;
                }           
    }
    
    .logoutdiv{
        margin-left: auto;
        padding-top: 0.5%;
        padding-right: 0.8%;
    }
    
}
.dashboard-header{
    display: flex;
    justify-content: space-between;
}

}

.chart-list-div{
display: flex;
flex-wrap: wrap;
.chart-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1%;
    width: 45%;
    height: 35%;
    box-shadow: 0px 0px 4px #666;
}
}
.ImpactGraph{
        display: flex;
        justify-content: center;
    .chart-div{
        margin: 1%;
        width: 65%;
        height: 35%;
        box-shadow: 0px 0px 1px #666;
        }
}

input{
    padding: 1%;
    margin: 0.4%;
}
button{
    padding: 1%;
    margin-left: 0.8%;
    border-radius: 0px;
    width: 80px;
    height: 25px;
}

.header{
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 50px;
}

h1{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 255px;
}

h2{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
}

canvas{
    // background-color: rgb(164, 243, 217);
    // box-shadow: 0px 0px 15px #666;
    box-shadow: 0px 0px 1px #666;
}